:root {
  --mainColor: #E8EFF9;
  --premierColor: #744EF9;
  --secondColor: #5D78FF;
  --ThirdColor: #C4C4C4;  
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "";
}

body{
  background-color: var(--mainColor);
}

.header-bar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ffffff;
}

.header__ div{
  display: inline-block;
}
.logo{
  margin:20px 50px ;
  cursor: pointer;
}
.logo img{
  width: 100px;
  height: 40px;
}
.search{
  margin-top: 20px;
  width: 40%;
}
.searchbar {
  width: 100%;
  display: inline-flex;
}

.searchbar--max-width {
  max-width: 100%;
}

.searchbar__input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid var(--premierColor);
  border-radius: 5px 0 0 5px;
  background: #F4FAF9;
  transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus {
  background: white;
  box-shadow: 0 0 2px #ffffff;
}

.searchbar__input::placeholder {
  color: gray;
}

.searchbar__button {
  width: 40px;
  background: var(--premierColor);
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  user-select: none;
}

.searchbar__button:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

/* .header-bar .search{
  margin-left:20% ;
} */

.alarm{
  margin-left: 20%;
  margin-top: 30px;
}

.profil-pic{
  margin-left: 1%;
  margin-top: 20px;
}
.name{
  margin-left: 12%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.profil-pic{
  width: 50px;
  border-radius: 50px;
  
 
}
.profil-pic img{
  width: 50px;
  border-radius: 50px;
  margin-top: 0 !important;
  border: 2px solid var(--premierColor);
}
.compte{
  display: flex;
  margin-top:0px;
  background-color: blue;
  padding: 0px;
}
.container {
  display: flex;
  margin-right: 40px;

}
.nav-container ul li a{
  text-decoration: none;
  color:black;
  font-size: 700;
  font-size: 24px;
}
.nav-container ul li a:hover{
  color:var(--mainColor)
}

.nav-container ul li {
  list-style: none;
  
}
.nav-container{
 
  padding: 20px 0;
  color: #000;
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;

}
.disktop{
  background-color: var(--premierColor);
}
.current a{
  border-bottom: 4px solid #F4FAF9 !important;
}

.container{
  width: 30%;
  justify-content: space-between;
}

.icon-menu{
  display: none;
  text-decoration: none;
}
.mobile{
  display: none;
}


.bar-container ul{
  display: flex;
  margin-top: 1.5rem;
  overflow-x: scroll;
  height: 5rem;
  
}

.bar-container ul li{
  list-style: none;
  margin-top: 1.2rem;
 
}
.bar-container ul::-webkit-scrollbar {
  display: none;
}

.bar-container ul li a{
  text-decoration: none;
  border-radius: .5rem;
  margin-left: 1rem;
  padding: .7rem 1rem;
  background-color: var(--ThirdColor);
  font-size: 1.3rem;
  color: #000;
  white-space: nowrap;
 
}

.current-cat a{
  background-color: var(--premierColor) !important;
  color: #F4FAF9 !important;
}

.category{
  margin: 1rem;
  display: flex;
  overflow-x: scroll;
}

.produit{
  background-color: #fff;
  width: 270px;
  padding: 1rem;
  margin-left: 1.5rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
}

.produit img{
  width: 230px;
  height: 180px;
  
}





/* responsive  */
@media screen and (max-width: 800px) {
  .icon-menu{
    display: block;
    margin-top: 15px;
    margin-right: 15px;
  }
  .container_mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }
  .header-bar{
    display: flex;
    flex-direction: column;
  }
  .search{
    width: 80%;
    margin-top: 10px;
  }
  .logo{
    margin:10px;
  }
  .search{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
  }
  

  
.alarm{
  margin-left: 10%;
  margin-top: 30px;
}

.name{
  margin-left: 0;
 
}
.name p{
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
.name p:nth-child(2){
  color: var(--ThirdColor);
}

.topnav{
  display: none !important;
}
.disktop{
  display: none;
}
.mobile{
  display: flex;
  width: 100%;
}
.nav-container ul li a:hover{
  color:var(--secondColor)
}
.container {
  background-color: var(--premierColor);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.alarm{
  display: none;
}
.mobile ul {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mobile ul li {
  background-color: #fff;
  margin-top: 10px;
  width: 50%;
  padding: 8px;
  border-radius: 20px;
  font-size: 18px;
}
.current a{
  border-bottom: 4px solid var(--premierColor) !important;
}

.profil-pic img{
  width: 70px;
}
.category::-webkit-scrollbar {
  display: none;
}



}