:root {
  --mainColor: #e8eff9;
  --premierColor: #744ef9;
  --secondColor: #5d78ff;
  --ThirdColor: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  font-size: 65.2%;
}

body {
  background-color: var(--mainColor);
}

/* disktop */
.chiffre {
  position: relative;
  background-color: #fff;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  left: 5%;
  /* top: 10%; */
  text-align: center;
}
h3{
  font-size: 2rem;
  padding: 2%;
}
.chiffre div {
  padding: 10px;
  width: 30%;
}
.chiffre div p{
  font-size: 2rem;
  color: var(--premierColor);
  font-weight: 700;
}

.gain-jour,
.gain-mois {
  border-right: 1px solid var(--ThirdColor);
}
.main-jour h3{
  font-size: 5rem;
}
.report {
  width: 90%;
}

table,
td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;

}
td{
  font-weight: 400;

}
table {
  border-collapse: collapse;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  background-color: white;
}
tr:nth-child(even) {background-color: #cecece98;}
th {
  height: 70px;
  background-color: var(--mainColor);

}
 .head-table th{
  background-color: var(--secondColor);
  font-size: 2.5rem;
}

.text {
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  font-weight: 600;
  font-size: 1.8rem;
  width: 90%;
}

/* responsive  */
@media screen and (max-width: 800px) {
  .icon-menu {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
  }
  .container_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }
  .header-bar {
    display: flex;
    flex-direction: column;
  }
  .search {
    width: 80%;
    margin-top: 10px;
  }
  .logo {
    margin: 10px;
  }
  .search {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
  }

  .name {
    margin-left: 0;
  }
  .name p {
    font-size: 1.5rem;
    align-items: center;
  }
  .name p:nth-child(2) {
        color: #fff;
  }
  .nav-container ul li a:hover {
    color: var(--secondColor);
  }

  .topnav {
    display: none !important;
  }
  .disktop {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100%;

  }
  .container {
    background-color: var(--premierColor);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .mobile ul {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .mobile ul li {
    background-color: #fff;
    margin-top: 10px;
    width: 50%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;   
  }
  .mobile ul li a{
    font-size: 1.4rem;
    
  }
  .current a {
    border-bottom: 4px solid var(--premierColor) !important;
  }
  .profil-pic img {
    width: 70px;
  }
  h3 {
    font-size: 1.6rem;
    width: 100%;
}
.chiffre div p {
  font-size: 1.8rem;

}
}
@media screen and (max-width: 500px){
  
  .chiffre{
    width: 100%;
    left: 0;
  }
  h3 {
    font-size: 1.5rem;
    width: 100%;
}
.chiffre div p {
  font-size: 1.5rem;
  color: var(--premierColor);
  font-weight: 600;
}










}
